ul {
  list-style: none; }

a {
  text-decoration: none; }

.nav {
  top: 0px;
  z-index: 5;
  position: fixed;
  background: #0e021b;
  background: linear-gradient(0deg, #0e021b 25%, black 100%);
  height: 65x;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.568);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); }

.nav__logo {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 2.500rem;
  padding: 0 40px 0 80px;
  font-weight: 900;
  font-style: italic;
  animation: fluido 12s ease-in-out infinite;
  background: white;
  background: linear-gradient(90deg, white 35%, #2f0a49 50%, white 65%);
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.nav__items {
  display: flex;
  margin-right: 30px;
  margin-bottom: 0%; }
  .nav__items li {
    border-radius: 3px;
    margin: 0 2px; }
    .nav__items li a {
      font-family: 'Rubik', sans-serif;
      padding: 7px 12px;
      font-size: 1rem;
      font-weight: 500;
      display: block;
      text-transform: uppercase;
      color: #fff; }
    .nav__items li:hover {
      background-color: rgba(102, 102, 102, 0.3);
      transition: .4s; }

.btn__menu {
  margin-right: 30px;
  font-size: 1.563rem;
  color: #fff;
  cursor: pointer;
  display: none; }
